<div class="container">

<h2 class="mb-3 text-center">Ingrese su Nombre</h2>
<form id="loginForm" class="mb-3" action="" method="post" >
      <input id="user" class="form-control mb-2" type="text" name="user" placeholder="usuario" required> 
            
      <button class="btn btn-primary" type="submit" >Ingresar</button>
</form>