<div class="container">

<div class="d-flex align-items-center mt-3 mb-3">
  <h2 class=" mb-3 text-center">Adios {{user}} </h2>  
</div>

<script>
    window.onload=setTimeout(() => window.location.replace('/'), 2000)
</script>